.container {
	padding: 4px;
	display: flex;
	flex-direction: column;
}

.label {
	padding: 2px;
	text-align: left;
	margin: 2px 5px;
	font-size: 11pt;
}

.input {
	background: transparent;
	outline: none;
	font-size: 11pt;
	border-radius: 8px;
	padding: 8px;
	border: 2px solid #d0d0d0;
	color: #c0bcbc;
}

.activeInput {
	border: 2px solid #26d312;
	color: white;
}
.errorInput {
	border: 2px solid orangered;
}
.errorText {
	color: orangered;
	padding: 4px;
	text-align: left;
	margin-left: 5px;
	font-size: 11pt;
	height: 16px;
}
