.container {
	width: 280px;
	border-radius: 8px;
	border: 2px solid #919191;
	background: #161616;
	max-height: 520px;
	margin: 8px;
}

.image {
	width: 100%;
	object-fit: contain;
	height: 150px;
}

.pfc {
	display: flex;
	justify-content: space-evenly;
	padding: 8px 2px;
}

.quantity {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.counter {
	width: 20%;
}

.controls {
	padding: 5px 0;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	gap: 6px;
	width: 60%;
	margin: auto;
}
