.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.modal {
  width: 70%;
  display: flex;
  height: max-content;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  font-size: 14pt;
  border-radius: 16px;
}

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
}

.div {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  height: 30px;
  align-items: center;
  margin-bottom: 5px;

  > input {
    border-radius: 8px;
  }
}

.card {
  background: white;
  color: black;
  padding: 1%;
  border-radius: 25px;
  min-width: 300px;
}

.cardEditBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.redButton {
  background: red;
}

.productListContainer {
  height: 150px;
  width: 100%;
  background: #1a1a1a;
  overflow: auto;
  color: white;
}

.delete {
  width: 40px !important;
  height: 40px !important;
  color: white;
  background: red;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 8px;
}